@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

.logo {
    font-weight: 600;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
    color: #002145;
}

.navbar {
    background-color: #ffffff88;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.425);

}

.navlinks {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbar ul li a {
    font-weight: 600;
    color: black;
}

.navbar ul li a:hover {
    color: brown;
}

.navlinks a {
    text-decoration: none;
    color: black;
}

.hero {
    gap: 0.5rem;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B3D0D9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h1 {
    font-size: 3rem;
    color: #7EACB5;
}

.hero p {
    font-size: 2rem;
    color: white;
}

.hg {
    color: rgb(255, 255, 255);
}

.container {
    padding: 4rem 10%;
}

.project-des {
    text-align: center;
    margin-bottom: 4rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}

.project-card img {
    height: 80%;
    width: 100%;
    border-radius: 8px;

}

.project-card h3 {
    margin-top: 10px;
}

.project-card p {
    margin-top: 10px;
}

.project-card a {
    text-decoration: none;
    color: rgb(10, 42, 184);
}

.project-card {
    background-color: #D1D5D7;
    padding: 20px 20px 50px 20px;
    border-radius: 8px;
    width: 1fr;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}

.project-card:hover {
    transform: translateY(-4px);
    border: 1px solid #1A2CA3;
}

.skill-des {
    text-align: center;
    margin-bottom: 4rem;
    /* margin-top: 4rem; */
}

.skills {
    background-color: #B3D0D9;
    padding: 4rem 10%;
}

.skill-card {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2rem;

}

.card {
    color: white;
    font-size: 1.7rem;
    background-color: #393E46;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 8px;
    border-bottom: 3px solid #56DFCF;
    /* margin-bottom: 4rem; */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: rotate(360deg);
}

.cp {
    margin-top: 4rem;
    text-align: center;
    font-weight: 400;
}

.cp span {
    font-weight: 700;
}

.ls {
    font-weight: 400;
    text-align: center;
    /* font-style: italic; */
}

footer p {
    text-align: center;
}

footer {
    padding: 1.1rem 10%;
}

footer span {
    font-weight: bold;
}